body {
    background-color: rgb(109, 39, 39);
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
img {
    width: 400px;
    height:400px;
    border-radius:20px;
    margin: 6px;
}
#form{
background-color: rgb(77, 40, 40);
border: 6px solid rgb(196, 98, 62);
color: rgb(43, 182, 43);
}
#headers {
    border: 5px solid rgb(91, 49, 131);
    background-color: rgb(61, 180, 140);
    color: rgb(133, 46, 133);
}

